{% extends 'layouts/master.twig' %}

{% block title %} 404 Not Found {% endblock %}

{% block content %}

    <div class="alert alert-danger" role="alert">
        Page Not Found, 404
    </div>

{% endblock %}