<footer class="d-flex justify-content-between mt-auto bg-light text-center p-3 bg-dark text-white">
    <span>© {{ 'now' | date('Y') }} Copyright</span>
    <a class="text-white" href="#">MNV Framework</a>
</footer>